flows.json
[
    {
        "id": "dfdc35c6e6850f50",
        "type": "tab",
        "label": "Envio de Paciente",
        "disabled": false,
        "info": ""
    },
    {
        "id": "50da04b3.af25fc",
        "type": "websocket out",
        "z": "dfdc35c6e6850f50",
        "name": "",
        "server": "985ecbc7.67a138",
        "client": "",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "42a28745.bd5d78",
        "type": "http response",
        "z": "dfdc35c6e6850f50",
        "name": "",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "1787be40.e87842",
        "type": "http in",
        "z": "dfdc35c6e6850f50",
        "name": "",
        "url": "/simple",
        "method": "get",
        "swaggerDoc": "",
        "x": 372,
        "y": 200,
        "wires": [
            [
                "1857548e.e7a8ab"
            ]
        ]
    },
    {
        "id": "1857548e.e7a8ab",
        "type": "template",
        "z": "dfdc35c6e6850f50",
        "name": "Simple Web Page",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"click\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n",
        "x": 569,
        "y": 200,
        "wires": [
            [
                "42a28745.bd5d78"
            ]
        ]
    },
    {
        "id": "eccc8bc2.133378",
        "type": "websocket in",
        "z": "dfdc35c6e6850f50",
        "name": "",
        "server": "985ecbc7.67a138",
        "client": "",
        "x": 380,
        "y": 540,
        "wires": [
            [
                "9adfff59.652"
            ]
        ]
    },
    {
        "id": "9adfff59.652",
        "type": "debug",
        "z": "dfdc35c6e6850f50",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 540,
        "wires": []
    },
    {
        "id": "194f611b5a706909",
        "type": "serial in",
        "z": "dfdc35c6e6850f50",
        "name": "Arduino Write",
        "serial": "5af6ece9874f80b1",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "93d7f721ad4182e0"
            ]
        ]
    },
    {
        "id": "93d7f721ad4182e0",
        "type": "function",
        "z": "dfdc35c6e6850f50",
        "name": "",
        "func": "var rfid = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm, \"\");\nconsole.log(msg.payload);\n\npatients = [\n    {\n        \"rfid\": \"F37BC5F7\",\n        \"name\": \"Vitor Ferreira\",\n        \"gender\": \"Masculino\",\n        \"blood_type\": \"A+\",\n        \"history\": [\n            {\n                \"medic\": \"Doutor Estranho\",\n                \"specialty\": \"Otorrinolaringologista\",\n                \"date\": \"12/01/2022\",\n                \"time\": \"14:00\"\n            },\n            {\n                \"medic\": \"Doutor Destino\",\n                \"specialty\": \"Ortopedista\",\n                \"date\": \"05/07/2022\",\n                \"time\": \"11:00\"\n            }\n        ],\n        \"exams\": [\n            {\n                \"name\": \"Endoscopia por vídeo\",\n                \"file\": \"endoscopia.mpeg\",\n                \"date\": \"05/02/2012\"\n            },\n            {\n                \"name\": \"Biopsia tecido adiposo\",\n                \"file\" : \"biopsia.docx\",\n                \"date\": \"16/02/2012\"\n            },\n            {\n                \"name\": \"Examinação geral\",\n                \"file\" : \"consulta.pdf\",\n                \"date\": \"11/07/2019\"\n            }\n        ],\n        \"procedures\": [\n            {\n                \"name\": \"Remoção de cisto pilonidal\",\n                \"date\": \"09/02/2011\"\n            },\n            {\n                \"name\" : \"Correção de desvio de septo\",\n                \"date\": \"21/05/2020\"\n            }\n        ]\n    },\n    {\n        \"rfid\": \"EE97A1B5\",\n        \"name\": \"Vinicius Marino\",\n        \"gender\": \"Masculino\",\n        \"blood_type\": \"A-\",\n        \"history\": [\n            {\n                \"medic\": \"José Doe\",\n                \"specialty\": \"Otorrinolaringologista\",\n                \"date\": \"12/01/2022\",\n                \"time\": \"14:00\"\n            },\n            {\n                \"medic\": \"José Dornelli\",\n                \"specialty\": \"Otorrinolaringologista\",\n                \"date\": \"12/01/2022\",\n                \"time\": \"14:00\"\n            }\n        ],\n        \"exams\": [\n            {\n                \"name\": \"Endoscopia por vídeo\",\n                \"file\": \"endoscopia.mpeg\",\n                \"date\": \"05/02/2012\"\n            },\n            {\n                \"name\": \"Biopsia tecido adiposo\",\n                \"file\" : \"biopsia.docx\",\n                \"date\": \"16/02/2012\"\n            },\n            {\n                \"name\": \"Examinação geral\",\n                \"file\" : \"consulta.pdf\",\n                \"date\": \"11/07/2019\"\n            }\n        ],\n        \"procedures\": [\n            {\n                \"name\": \"Remoção de cisto pilonidal\",\n                \"date\": \"09/02/2011\"\n            },\n            {\n                \"name\" : \"Correção de desvio de septo\",\n                \"date\": \"21/05/2020\"\n            }\n        ]\n    },\n    {\n        \"rfid\": \"E3CFCBDE\",\n        \"name\": \"Régis Ximendes\",\n        \"gender\": \"Masculino\",\n        \"blood_type\": \"A+\",\n        \"history\": [\n            {\n                \"medic\": \"José Doe\",\n                \"specialty\": \"Otorrinolaringologista\",\n                \"date\": \"12/01/2022\",\n                \"time\": \"14:00\"\n            },\n            {\n                \"medic\": \"José Dornelli\",\n                \"specialty\": \"Otorrinolaringologista\",\n                \"date\": \"12/01/2022\",\n                \"time\": \"14:00\"\n            }\n        ],\n        \"exams\": [\n            {\n                \"name\": \"Endoscopia por vídeo\",\n                \"file\": \"endoscopia.mpeg\",\n                \"date\": \"05/02/2012\"\n            },\n            {\n                \"name\": \"Biopsia tecido adiposo\",\n                \"file\" : \"biopsia.docx\",\n                \"date\": \"16/02/2012\"\n            },\n            {\n                \"name\": \"Examinação geral\",\n                \"file\" : \"consulta.pdf\",\n                \"date\": \"11/07/2019\"\n            }\n        ],\n        \"procedures\": [\n            {\n                \"name\": \"Remoção de cisto pilonidal\",\n                \"date\": \"09/02/2011\"\n            },\n            {\n                \"name\" : \"Correção de desvio de septo\",\n                \"date\": \"21/05/2020\"\n            }\n        ]\n    }\n];\n\nfor (var i = 0; i < patients.length; i++){\n    if (patients[i][\"rfid\"] === rfid) {\n        msg.payload = patients[i];\n    }\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 360,
        "wires": [
            [
                "50da04b3.af25fc"
            ]
        ]
    },
    {
        "id": "985ecbc7.67a138",
        "type": "websocket-listener",
        "z": "dfdc35c6e6850f50",
        "path": "/ws/simple",
        "wholemsg": "false"
    },
    {
        "id": "5af6ece9874f80b1",
        "type": "serial-port",
        "serialport": "/dev/cu.usbmodem141301",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]